.slider-con {
        display: flex;
        padding-top: 24px;
        padding-bottom: 54px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
}

.book {
    width: 200px;  
    background: #0e0e0e;
    box-shadow: 5px 5px 8px rgba(11, 10, 10, 0.7);
    border-radius: 15px;
    padding: 16px;
    position: relative;
    height: 345px;
}

.book> a > img {
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    width: 100%;
    height: 222px;
}

.book > h4 {
    text-align: left;
    padding-top: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.book > h5 {
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #7B7878;
}

.book-like {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.slider-pagination {
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    position: absolute;
    bottom: 0;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px !important;
    text-transform: none!important;
    letter-spacing: 0;
    color: #A30106 !important;
}

.book-like {
    cursor: pointer;
}

@media(max-width: 994px) {
    .book {
        width: 175px;
        height: 310px;
    }

    .book > h4 {
        padding-top: 10px;
        font-size: 11px;
        line-height: 16px;
    }
    .book > h5 {
        font-size: 10px;
    }
    .book> a > img {
        height: 195px;
    }
}