.about-book {
    margin: 24px auto 70px auto;
    text-align: center;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
}

.book-img-rate {
    display: inline-block;
}

.about-book-img {
    width: 350px;
    height: 510px;
    position: relative;
}

.about-book-img > .book-image-preview {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.book-play-con {
    position: absolute;
    top: 40%;
    left: 40%;
    background: rgba(14, 14, 14, 0.281);
    padding: 15px 15px 10px 20px;
    border-radius: 15%;
    cursor: pointer;
    backdrop-filter: blur(4px)
}

.book-rate {
    padding: 16px;
    margin-top: 32px;
    max-width: 360px;
    background: #0e0e0e;
    box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.7);
    border-radius: 15px;
}

.book-rate > img{
    padding-right: 10px;
}
.book-rate > img:last-child {
    padding-right: 0px;
}

.book-rate > h5 {
    padding-top: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #B9B9B9;

}

.about-book-info {
    margin: 0px 32px;
    max-width: 800px;
    background: #0e0e0e;
    padding: 40px;
    position: relative;
}

.about-genre {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
}

.about-genre > h5 {
    padding-left: 8px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #B9B9B9;
}

.about-title-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
}
.about-title-rate > h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 40px;
}
.about-title-rate > h5 {
    padding: 0px 5px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #A30106;
}

.about-writers {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-writers > p{
    padding: 0px 8px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #7B7878;
}
.about-voiceover {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-voiceover > p {
    padding: 0px 8px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #7B7878;
}

.about-cycle {
    width: 100%;
    padding: 16px 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 1px solid #b9b9b988;
}

.about-cycle > h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em; 
    color: #B9B9B9;
    padding-right: 8px;
}
.about-cycle > h4:after {
    content: '';
    width: 1px;
    height: 18px;
    margin-left: 10px;
    padding-top: 4px;
    background:  #B9B9B9;
    position: absolute;
}
.about-cycle > h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #A30106;
    padding-left: 6px;
}

.about-cycle-hear-time {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
}
.about-cycle-hear-time > .cycle-hear {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}
.about-cycle-hear-time > .cycle-hear > p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 21%;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #7B7878;
    padding-left: 4px;
    padding-top: 3px;
}

.about-cycle-hear-time > .cycle-time { 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-cycle-hear-time > .cycle-time > p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 21%;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #7B7878;
    padding-left: 4px;
    padding-top: 3px;
}

.about-desc-book {
    padding-top: 32px;
    max-height: 360px;
    overflow-y: scroll;
}

.about-desc-book::-webkit-scrollbar {
    appearance: none;
}

.about-desc-book p {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #B9B9B9;
    padding-bottom: 32px;
}

.phone-book-genre {
    display: none;
}

@media (max-width: 1300px) {
    .about-book-img {
        width: 300px;
        height: 460px;
        position: relative;
    }
    .buttons-input > input {
        width: 350px;
    }
    .player-book-depen {
        margin: 0px 10px;
    }
}

@media(max-width: 1100px) {
    .navbar {
        overflow-y: scroll;
    }
    .about-book {
        flex-direction: column;
    }
    .phone-book-genre {
        display: block;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 16px;
    }
    .phone-book-genre > h5{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: #B9B9B9;
    padding: 0px 15px;
    }
    .about-book-img {
        margin-bottom: 20px;
    }
    .book-img-rate {
        margin: 0 auto;
        text-align: center;
    }
    .book-rate {
        display: none;
    }
    .about-genre {
        display: none;
    }
    .about-book-info {
        border-radius: 15px;
        padding: 16px;
    }
}

@media (max-width: 600px) {
    .about-book-img {
        width: 200px;
        height: 267px;
    }
    .about-book-info {
        margin: 0px 5px;
    }
    .about-book-img > .book-image-play {
        position: absolute;
        top: 38%;
        width: 40px;
        left: 41%;
    }
    .about-title-rate > h4 {
        font-size: 14px;
        padding-right: 10px;
    }
    .about-title-rate > img {
        width: 15px;
        padding-bottom: 2px;
    }
    .about-title-rate > h5 {
        font-size: 15px;
    }
    .about-writers > img {
        width: 12px;
    }
    .about-writers > p {
        font-size: 10px;
    }

    .about-voiceover {
        padding-top: 0px;
    }
    .about-voiceover > img {
        width: 12px;
    }
    .about-voiceover > p {
        font-size: 10px;
    }

    .about-cycle > h4 {
        font-size: 11px;
    }
    .about-cycle > h4:after {
        height: 17px;
        margin-left: 5px;
        margin-top: 3px;
        padding-top: 0px;
    }

    .about-cycle > h5 {
        font-size: 12px;
        padding-left: 1px;
    }

    .about-cycle-hear-time > .cycle-hear > p {
        font-size: 11px;
    }
    .about-cycle-hear-time > .cycle-hear > img {
        width: 14px;
    }
    .about-cycle-hear-time > .cycle-time > p {
        font-size: 11px;
    }
    .about-cycle-hear-time > .cycle-time > img {
        width: 14px;
        padding-top: 1px;
    }
    .about-desc-book {
        padding-top: 5px;
        margin-top: 5px;
    }

    .about-desc-book p {
        font-size: 12px;
        padding-bottom: 10px;
        line-height: 24px;
    }

    .comments-book-container {
        margin: 0px 16px;
    }

    .comment-ava > img {
        width: 25px;
    }
    .name-rate > img {
        width: 12px;
    }

    .name-rate > h4 {
        font-size: 10px;
        line-height: 17px;
        padding-right: 0px;
    }

    .comment-desc > p {
        font-size: 11px;
        line-height: 20px;
    }

    .more-btn > a {
        font-size: 10px;
        padding: 13px 33px;
    }

    .comment-area {
        margin: 30px 0px;
    }

    .area-container {
        padding: 8px;
    }
    .area-container > .ava > img {
        width: 30px;
    }

    .area-container > textarea {
        min-height: 118px;
        font-size: 12px;
        line-height: 17px;
    }

    .book-play-con {
        top: 40%;
        left: 37%;
        padding: 12px 12px 7px 17px;
    }

    .book-image-play {
        max-width: 30px;
    }
    
}